.App-header {
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; /* Änderung von der transparenten weißen Farbe zu vollständig weiß */
}

.button-custom {
  padding: 12px 24px;
  margin: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  background-color: yellow;
  color: red;
  border: 2px solid red;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.button-custom:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  transform: translateY(-3px);
}

ul {
  list-style: none;
}

li.custom-list-item {
  font-size: 1.2rem;
  margin: 5px 0;
  color: red;
}
